@model CSRMDAL.Model.huiyiricheng_ext
@{
    ViewBag.Title = "huiyirichen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zaixianbao-main">
    <div class="huiyirichen-main-top1">会议日程</div>
    <div class="huiyirichen-main-top2">
        <p><span>日期：</span><span>@Model.o.date </span></p>
        <p><span>时间：</span><span>@Model.o.time </span></p>
        <p><span>地点：</span><span>@Model.o.areastr </span></p>
    </div>
    <table class="huiyirichen-main-top3" width="90%" height="auto" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th>时间</th>
            <th>讲题</th>
            <th>讲者</th>
        </tr>
        @foreach (var o in Model.list) 
        { 
        <tr>
            <td>@o.time</td>
            <td>@o.title</td>
            <td>@o.author</td>
        </tr>       
        }
    </table>
    <div style="padding-bottom:20px"></div>
</div>

