@{
    ViewBag.Title = "中华医学会生殖医学规范指南中国行";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="index-main index-content" id="index-main">
    <li style="margin:0px;">
        <a href="@(ViewBag.isreg == 1 ? "javascript:alert('您已注册');" : "/Home/zaixianbaoming")"><img src="~/Images/bm.png" /><span>在线报名</span></a>
    </li>
    <li>
        <a href="/Home/huiyijianjie"><img src="~/Images/hy.png" /><span>会议简介</span></a>
    </li>
    <li>
        <a href="@(ViewBag.isreg == 0 ? "javascript:alert('请您先报名，才能查看相关会场信息');" : "/Home/huiyirichen")"><img src="~/Images/rc.png" /><span>会议日程</span></a>
    </li>
    <li style="margin:0px;">
        <a href="@(ViewBag.isreg == 0 ? "javascript:alert('请您先报名，才能查看相关会场信息');" : "/Home/huiyijiangyi")"><img src="~/Images/jy.png" /><span>会议讲义</span></a>
    </li>
    <li>
        <a href="@(ViewBag.isreg == 0 ? "javascript:alert('请您先报名，才能查看相关会场信息');" : "/Home/jiangzhejieshao")"><img src="~/Images/jz.png" /><span>讲者介绍</span></a>
    </li>
    <li>
        <a href="@(ViewBag.isreg == 0 ? "javascript:alert('请您先报名，才能查看相关会场信息');" : "/Home/zhinanjiedu")"><img src="~/Images/zn.png" /><span>指南解读</span></a>
    </li>
    <li style="margin:0px;">
        <a href="@(ViewBag.isreg == 0 ? "javascript:alert('请您先报名，才能查看相关会场信息');" : "/Home/jiaotong")"><img src="~/Images/jt.png" /><span>酒店交通</span></a>
    </li>
    <li>
        <a href="@(ViewBag.isreg == 0 ? "javascript:alert('请您先报名，才能查看相关会场信息');" : "/Home/shipin")"><img src="~/Images/sp.png" /><span>精彩瞬间</span></a>
    </li>
    <li>
        <a href="@(ViewBag.isreg == 0 ? "javascript:alert('请您先报名，才能查看相关会场信息');" : "/Home/lianxiwomen")"><img src="~/Images/lx.png" /><span>联系我们</span></a>
    </li>
</ul>

@section scripts{
    <script type="text/javascript">
        /*
        var inDexleng = document.getElementById("index-main");

        var inDexLi = inDexleng.getElementsByTagName("li");

        for (var i = 0; i < inDexLi.length; i++) {

            this.index = i;

            if (this.index % 3 == 0) {

                inDexLi[i].style.margin = "0px";

            }

        }
        */
    </script>    
}